{% setcontent sliders = 'sliders' %}
{% setcontent features = 'features' %}

<!--hero section start-->
{% if sliders is not empty %}
<section class="hero-slider-section bg-image hero-equal-height ptb-120 dark-bg" data-overlay="8">
    <div class="background-image-wraper" style="background: url('assets/img/hero-1.jpg')no-repeat center center / cover; opacity: 1;"></div>
    <div class="owl-carousel owl-theme hero-slider-one custom-dot dot-bottom-center">
        {% for slider in sliders %}
            <div class="item">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-lg-7">
                        <div class="hero-content-wrap text-white">
                            <span class="text-white h5 font-weight-normal">{{ slider.sub_title ? slider.sub_title : '' }}</span>
                            <h1 class="text-white">{{ slider.title ? slider.title : '' }}</h1>
                            <ul class="list-unstyled tech-feature-list">
                                {% if features is not empty %}
                                    {% for feature in features %}
                                        <li class="py-1"><span class="fad fa-check-circle color-accent mr-2"></span>{{ feature.title }}</li>
                                    {% endfor %}
                                {% endif %}
                            </ul>
                            <div class="action-btns mt-2">
                                <a href="{{ slider.link }}" class="btn btn-brand-03 mr-3">{{ slider.link_text }}</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5 d-none d-md-none d-lg-block">
                        <div class="image-wrap">
                            <img src="{{ slider.image }}" alt="wordpress" class="img-fluid">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</section>
{% endif %}
<!--hero section end-->
